@page "/"

@using Server.Data
@inject IMarkdownService MarkdocService
@using Markdoc.Components

<h1>Hello, world!</h1>

Welcome to your new app.

Topics: @Topics

<h2>Markdoc Example:</h2>
<MarkdocFile FilePath="wwwroot/markdown/index.md"/>

@code {
    private string Topics { get; set; } = "";

    public string Property { get; set; } = "";

    protected override Task OnInitializedAsync()
    {
        Topics = String.Join(", ", MarkdocService.GetTopics());
        return Task.CompletedTask;
    }
}
